@page
@model Front.Pages.IndexModel
@{
    Layout = null;
    ViewData["Title"] = "VueCore";
}

<!doctype html>
<html>
<head lang="ru">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/animate/animate.min.css" />
    <link rel="stylesheet" href="~/assets/bulma/bulma.min.css" />
    <link rel="stylesheet" href="~/assets/style.css" />
    <title>@ViewData["Title"]</title>
    <script>
        const settings = {
            apiUrl: '@Model.ApiUrl'
        };
    </script>
</head>
<body class="has-navbar-fixed-top">
    <div id="app">Идёт загрузка</div>
    <script src="~/assets/bundle.js"></script>
</body>
</html>