@page
@model Front.Pages.IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Data Editor";
}

<!doctype html>
<html>
<head lang="ru">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/fontawesome-free-5.8.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/bulma-0.7.4/bulma.min.css" />
    <title>Data Editor</title>
</head>
<body class="has-navbar-fixed-top">
    <div id="app">Идёт загрузка</div>
    <script src="~/assets/bundle.js"></script>
</body>
</html>